In [1]:
# import the pandas library
import pandas as pd
left = pd.DataFrame({
         'id':[1,2,3,4,5],
         'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
         'subject_id':['sub1','sub2','sub4','sub6','sub5']})
right = pd.DataFrame(
         {'id':[1,2,3,4,5],
         'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
         'subject_id':['sub2','sub4','sub3','sub6','sub5']})
print left
print right

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(left)? (<ipython-input-1-6ff4338a7ee9>, line 11)

In [2]:
# import the pandas library
import pandas as pd
left = pd.DataFrame({
         'id':[1,2,3,4,5],
         'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
         'subject_id':['sub1','sub2','sub4','sub6','sub5']})
right = pd.DataFrame(
         {'id':[1,2,3,4,5],
         'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
         'subject_id':['sub2','sub4','sub3','sub6','sub5']})
print (left)
print ("")
print (right)

   id    Name subject_id
0   1    Alex       sub1
1   2     Amy       sub2
2   3   Allen       sub4
3   4   Alice       sub6
4   5  Ayoung       sub5
   id   Name subject_id
0   1  Billy       sub2
1   2  Brian       sub4
2   3   Bran       sub3
3   4  Bryce       sub6
4   5  Betty       sub5

In [3]:
# import the pandas library
import pandas as pd
left = pd.DataFrame({
         'id':[1,2,3,4,5],
         'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
         'subject_id':['sub1','sub2','sub4','sub6','sub5']})
right = pd.DataFrame(
         {'id':[1,2,3,4,5],
         'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
         'subject_id':['sub2','sub4','sub3','sub6','sub5']})
print (left)
print ("")
print (right)

   id    Name subject_id
0   1    Alex       sub1
1   2     Amy       sub2
2   3   Allen       sub4
3   4   Alice       sub6
4   5  Ayoung       sub5

   id   Name subject_id
0   1  Billy       sub2
1   2  Brian       sub4
2   3   Bran       sub3
3   4  Bryce       sub6
4   5  Betty       sub5

In [4]:
# import the pandas library
import pandas as pd

ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
         'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
         'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
         'Year': [2014,2015,2014,2015,2014,2015,2015,2017,2016,2014,2015,2015],
         'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)

grouped = df.groupby('Year')
print grouped.get_group(2015)

SyntaxError: invalid syntax (<ipython-input-4-d0a60f9e8b4e>, line 12)

In [5]:
# import the pandas library
import pandas as pd

ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
         'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
         'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
         'Year': [2014,2015,2014,2015,2014,2015,2015,2017,2016,2014,2015,2015],
         'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)

grouped = df.groupby('Year')
print (grouped.get_group(2015))

      Team  Rank  Year  Points
1   Riders     2  2015     789
3   Devils     3  2015     673
5    kings     4  2015     812
6    Kings     1  2015     756
10  Royals     1  2015     804
11  Riders     2  2015     690

In [6]:
# import the pandas library
import pandas as pd

ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
         'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
         'Rank': [1, 2, 2, 3, 3,4 ,2 ,1,2 , 4,1,2],
         'Year': [2014,2015,2014,2015,2014,2015,2015,2017,2016,2014,2015,2015],
         'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)

grouped = df.groupby('Rank')
print (grouped.get_group(2))

      Team  Rank  Year  Points
1   Riders     2  2015     789
2   Devils     2  2014     863
6    Kings     2  2015     756
8   Riders     2  2016     694
11  Riders     2  2015     690

In [7]:
# import the pandas library
import pandas as pd

ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
         'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
         'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
         'Year': [2014,2015,2014,2015,2014,2015,2015,2017,2016,2014,2015,2015],
         'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)

grouped = df.groupby('Team')
print (grouped.get_group(Kings))

NameError: name 'Kings' is not defined

In [8]:
# import the pandas library
import pandas as pd

ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
         'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
         'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
         'Year': [2014,2015,2014,2015,2014,2015,2015,2017,2016,2014,2015,2015],
         'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)

grouped = df.groupby('Team')
print (grouped.get_group('Kings'))

    Team  Rank  Year  Points
4  Kings     3  2014     741
6  Kings     1  2015     756
7  Kings     1  2017     788

In [9]:
import pandas as pd
one = pd.DataFrame({
     'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
     'subject_id':['sub1','sub2','sub4','sub6','sub5'],
     'Marks_scored':[98,90,87,69,78]},
     index=[1,2,3,4,5])
two = pd.DataFrame({
     'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
     'subject_id':['sub2','sub4','sub3','sub6','sub5'],
     'Marks_scored':[89,80,79,97,88]},
     index=[6,7,8,9,10])
print (pd.concat([one,two]))

     Name subject_id  Marks_scored
1    Alex       sub1            98
2     Amy       sub2            90
3   Allen       sub4            87
4   Alice       sub6            69
5  Ayoung       sub5            78
1   Billy       sub2            89
2   Brian       sub4            80
3    Bran       sub3            79
4   Bryce       sub6            97
5   Betty       sub5            88

In [10]:
import pandas as pd
one = pd.DataFrame({
     'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
     'subject_id':['sub1','sub2','sub4','sub6','sub5'],
     'Marks_scored':[98,90,87,69,78]},
     index=[1,2,3,4,5])
two = pd.DataFrame({
     'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
     'subject_id':['sub2','sub4','sub3','sub6','sub5'],
     'Marks_scored':[89,80,79,97,88]},
     index=[6,7,8,9,10])
print (pd.concat([one,two]))

      Name subject_id  Marks_scored
1     Alex       sub1            98
2      Amy       sub2            90
3    Allen       sub4            87
4    Alice       sub6            69
5   Ayoung       sub5            78
6    Billy       sub2            89
7    Brian       sub4            80
8     Bran       sub3            79
9    Bryce       sub6            97
10   Betty       sub5            88